<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Home.css">

    <link rel="icon" href="../images/gryf1.png">

    <title>- Contact</title>
</head>
<body>
    <header>
        <header>
          <div class="nav sticky">
            <div class="logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        </header>
        <div class="contact">
            <img id="owl-img" src="../images/contactus.jpg">
        </div>
        
</body>
</html>